@import "../../styles/variables.scss", "../../styles/main.scss";

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.input-container {
  @include flexbox(column, center, center);
  margin-top: 6px;
  position: relative;

  .files-btn {
    @include flexbox(row, center, center);

    .space {
      margin: 0 24px;
    }
  }

  .obrigatorio {
    @include flexbox(row, flex-end, center);
    width: 328px;
    color: $color-error;
    font-size: 12px;
    font-weight: 500;
    font-family: "Kanit";
    padding-top: 5px;
  }
}

.btn-container {
  @include flexbox(row, center, center);
  margin-top: 20px;
  margin-bottom: 20px;
}
