@import "../../styles/variables.scss", "../../styles/main.scss";

.select-container {
  display: flex;
  justify-content: center;

  .select-field {
    display: flex;
    flex-direction: column;
    margin-top: 11px;

    select {
      width: 328px;
      height: 35.93px;
      color: $color-input-select;
      // opacity: 0.65;
      border-radius: 3px;
      border: 1px solid $color-black;
      outline: none;
      box-sizing: border-box;
      padding-left: 10px;

      font-family: "Kanit Regular";
      font-weight: 200;
    }

    label {
      padding-left: 5px;
      font-family: "Kanit";
      line-height: 150%;
      color: $color-black;

      .required {
        color: red;
      }
    }
  }
}

.placeholder {
  color: red;
}
