@import "../../styles/variables.scss", "../../styles/main.scss";

.textarea-container {
    display: flex;
    justify-content: center;
   
    .textarea {
        display: flex;
        flex-direction: column;
         margin-top: 11px;

        textarea{
            width: 328px;
            height: 123px;
            border-radius: 3px;
            border: 1px solid $color-black;
            box-sizing: border-box;
            padding-left: 15px;
            padding-top: 11px;
            color: $color-black;
            font-family: 'Kanit Regular';
            font-size: 14px;
            font-weight: 200;
            resize: none;
        }  
        
        label {
            padding-left: 5px;
            font-family: 'Kanit';
            line-height: 150%;
            color: $color-black;
        }
    }
}