@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CarroisGothic';
  src: url('../assets/fonts/CarroisGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}