$color-error: #d90429;
$color-input-error: rgba(217, 4, 41, 0.2);
$color-input-error-border: rgba(217, 4, 41, 0.5);
$color-warning: #d9a91a;
$color-sucess: #008c1a;
$color-info: #1aa0d9;
$color-disabled: #c5c6c7;
$color-orange-dark: #c97534;
$color-orange-light: #fd9241;
$color-green-dark: #5bc95b;
$color-green-light: #73fd73;
$color-black: #19232c;
$color-white: #f9fafb;
$color-modal-container-background: #19232c40;
