@import "../../styles/variables.scss", "../../styles/main.scss";

.input-container {
    display: flex;
    justify-content: center;
   
    .input-field {
        display: flex;
        flex-direction: column;
         margin-top: 11px;

        input{
            width: 328px;
            height: 35.93px;
            border-radius: 3px;
            border: 1px solid $color-black;
            outline: none;
            box-sizing: border-box;
            padding-left: 15px;
            font-family: 'Kanit';
        }        
            ::placeholder {
                color: $color-black;
                font-family: 'Kanit';
                font-weight: 200;
            }
                
        label {
            padding-left: 5px;
            font-family: 'Kanit Medium';
            line-height: 150%;
            color: $color-black;

                .required { 
                    color: red;
            }
        }
    }
}
