.ActionButton {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;

  :disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  .content {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      margin-right: 16px;
    }

    .label {
      font-family: "Kanit";
      font-size: 12px;
      line-height: 1.5;
      margin-left: 8px;
    }
  }
}